WEB3FORMS_ACCESS_KEY=
NEXT_PUBLIC_CHECKOUT_URL=
NEXT_PUBLIC_KLAVIYO_COMPANY_ID=Tp323F
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAILS=sahiljainsj004@gmail.com,support@buudy.com
