WEB3FORMS_ACCESS_KEY=
NEXT_PUBLIC_CHECKOUT_URL=
NEXT_PUBLIC_KLAVIYO_COMPANY_ID=Tp323F
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAILS=sahiljainsj004@gmail.com,support@buudy.co.uk
MICROSOFT_SHOPPING_UET_TAG_ID=355003164
MICROSOFT_SHOPPING_CAPI_TOKEN=
SHOPBASE_STORE_URL=https://new-buudy.onshopbase.com
SHOPBASE_API_KEY=
SHOPBASE_PASSWORD=
SHOPBASE_SHARED_SECRET=
SHOPBASE_WEBHOOK_SECRET=
CRON_SECRET=
